[Unit]
Description=changes mac for %I
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
ExecStart=/usr/bin/macchanger -m d0:27:88:86:1d:ac %I
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

